<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta id="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"></link>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/reset-fonts-grids/reset-fonts-grids.css"></link>
	<link rel="stylesheet" type="text/css" href="/css/main.css"></link>
  <title>{{ page.title }} - amyzhang.org</title>
</head>
<body>

  <div class="wrap">
    <header class"navbar navbar-static-top" id="top" role="banner">
      <div class="container">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="https://twitter.com/azshutter" class="twitter-follow-button" data-show-count="false">Follow @azshutter</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </li>
        </ul>
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Amy Zhang</a>
        </div>
        {% include nav.html %}
      </div>
    </header>
    <div class="container main clear-top">
      {{content}}
    </div>
  </div>


</body>
</html>
